:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  color: #000;
}

.projects h2 {
  font-size: 64px;
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: normal;
  color: #000;
}

.projects p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-family: var(--default-font-family);
  opacity: 70%;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
  color: #272142;
}

.btn-branding {
  border-radius: 4px;
  background: var(--branding-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
}

.btn-branding-outline {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-family: var(--default-font-family);
  text-decoration: none;
}

.projects {
  padding: 120px 60px;
}

.content-container {
  text-align: center;
  padding: 80px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: normal;
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
}

.content-container img {
  max-width: 600px;
  max-height: 600px;
  border-radius: 10px;
}

.about-me h2 {
  font-size: 55px;
  line-height: normal;
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding-bottom: 20px;
}

.about-me p {
  font-family: var(--default-font-family);
  font-size: 16px;
  margin: 0;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  padding-bottom: 60px;
}

.logo {
  max-height: 50px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  text-decoration: none;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
}

nav a:hover {
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 50px;
  }
  .projects h2 {
    font-size: 44px;
  }
  .projects p {
    font-size: 14px;
  }
  .projects {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content-container h1 {
    font-size: 50px;
  }
  .content-container h2 {
    font-size: 44px;
  }
  .content-container p {
    font-size: 14px;
  }
  nav a {
    font-size: 14px;
  }
}
